
/*==========================WELCOME HEADER==================================================================================*/
#mainPic {
	height: 460px;
	background: url("http://i.huffpost.com/gen/3398570/images/o-HAPPY-COLLEGE-STUDENTS-facebook.jpg") center center no-repeat;
	background-size: cover;
}



#ctaCards a:visited {
	color: #244717;
}

#ctaCards h3 {
	color: white;
	/*text-shadow: 1px 1px 3px #000;*/
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	margin-left: .5em;
	padding: .6em;
}

.fa {
	font-size: 1.6em;
}


md-input-container label {
	color: #244717;
	font-size: 1.3em;
}

#signUp {
	position: absolute;
	right:0;
	top: 17px;
}


/*==========================HOME PAGE==================================================================================*/


.flash {
	animation-duration: 9s;
}

/*==========================GETIING STARTED PAGE==================================================================================*/

.md-whiteframe-z1 {
	margin: 3.7em auto;
	height: 100%;
}

#getStarted i {
	/*border: thin solid #244717;*/
	/*box-shadow: 1px 2px 3px #244717;*/
	background-color: #7CB342;
	color: #fff;
	padding: 6px;
	margin-top: .6em;
	border-radius: 3px;
}

#getStarted p {
	margin-left: 1.3em;
	margin-top: .6em;
	margin-bottom: .6em;
}

/*==========================VIDEOS==================================================================================*/
#videos {
	margin: auto;
}
#videos div {
	margin: 3em;
}

/*==========================CONTACT==================================================================================*/

#contact {
	margin: 6% auto;
}
#contact a {
	color: #244717;
	font-size: 2.7em;
}
.pulse {
	animation-duration: 5s;
}

/*==========================ABOUT==================================================================================*/

#about {
	padding: 1em 6em;
}

#about img {
	float: left;
	margin: 0 1em 1em 1em;
	width: 30%;
}

#q-list li {
	list-style: none;
	line-height: 1.5em;
	font-size: 1em;
}

#q-list i {
	font-size: .9em;
}



