body, html {
	height: 100%;
	width: 100%;
	color:#244717;
}

a {
	text-decoration: none;
	color:#244717;
}

/*==========================SEPARATOR STYLING==================================================================================*/

#bigHalfCircle {
	fill: #244717;
	stroke: #244717;
}

#trianglePath1 {
	fill: #244717;
	stroke: #244717;
}

#bigTriangleShadow {
	fill: #fff;
	stroke: #fff;
}
/*==========================WELCOME HEADER==================================================================================*/
#mainPic {
	height: 460px;
	background: url("http://i.huffpost.com/gen/3398570/images/o-HAPPY-COLLEGE-STUDENTS-facebook.jpg") center center no-repeat;
	background-size: cover;
}

#ctaCards {
	padding-top: 370px;
	font-size: 1em;
	text-align: center;
	color: #244717;
}

#ctaCards a:visited {
	color: #244717;
}

#ctaCards h3 {
	color: white;
	/*text-shadow: 1px 1px 3px #000;*/
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	margin-left: .5em;
	padding: .6em;
}

.fa {
	font-size: 1.6em;
}

#nav {
	box-shadow: 1px 2px 9px #777;
}

#nav .md-button {
	color: #244717;
}
#nav .md-button:hover {
	border-bottom: 3px solid #244717; 
}

.active {
	border-bottom: 3px solid #244717; 
}

md-input-container label {
	color: #244717;
	font-size: 1.3em;
}

#signUp {
	position: absolute;
	right:0;
	top: 17px;
}


/*==========================HOME PAGE==================================================================================*/

#ready {
	margin-top:3%;
	margin-bottom: 9%;
	text-align: center;
}

#ready h3{
	color: #244717;
	font-size: 2.6em;
	/*text-shadow: 1px 1px 3px #000;*/
	/*font-weight: bold;*/
}

#ready i{
	color: #244717;
	font-size: 4em;
	margin: auto .3em;
	/*text-shadow: 1px 2px 3px #244717;*/
}

.flash {
	animation-duration: 9s;
}

/*==========================GETIING STARTED PAGE==================================================================================*/

.md-whiteframe-z1 {
	margin: 3.7em auto;
	height: 100%;
}

#getStarted i {
	/*border: thin solid #244717;*/
	/*box-shadow: 1px 2px 3px #244717;*/
	background-color: #7CB342;
	color: #fff;
	padding: 6px;
	margin-top: .6em;
	border-radius: 3px;
}

#getStarted p {
	margin-left: 1.3em;
	margin-top: .6em;
	margin-bottom: .6em;
}

/*==========================VIDEOS==================================================================================*/
#videos {
	margin: auto;
}
#videos div {
	margin: 3em;
}

/*==========================CONTACT==================================================================================*/

#contact {
	margin: 6% auto;
}
#contact a {
	color: #244717;
	font-size: 2.7em;
}
.pulse {
	animation-duration: 5s;
}

/*==========================ABOUT==================================================================================*/

#about {
	padding: 1em 6em;
}

#about img {
	float: left;
	margin: 0 1em 1em 1em;
	width: 30%;
}

#q-list li {
	list-style: none;
	line-height: 1.5em;
	font-size: 1em;
}

#q-list i {
	font-size: .9em;
}

#services {
	margin:auto;
	margin-top: -.3em;
	background: #244717;
	color: #fff;
	padding: .6em 3em;
}

#services h3 {
	text-align: center;
	margin-top: -2em;
}

