/* line 16, ../compass/sass/style.scss */
body, html {
  color: #237a2b;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}
/* line 20, ../compass/sass/style.scss */
body a, html a {
  text-decoration: none;
}

/* line 25, ../compass/sass/style.scss */
md-input-container label {
  color: #237a2b;
  font-size: 1em;
}

/* line 31, ../compass/sass/style.scss */
#nav {
  box-shadow: 1px 2px 9px #777;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
}
/* line 38, ../compass/sass/style.scss */
#nav .md-button {
  color: #fff;
}
/* line 41, ../compass/sass/style.scss */
#nav .md-button:hover {
  border-bottom: 3px solid #000;
}

/* line 46, ../compass/sass/style.scss */
#fixSmallNav {
  position: fixed;
  top: 0;
  box-shadow: 1px 2px 9px #777;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
}
/* line 55, ../compass/sass/style.scss */
#fixSmallNav .md-button {
  color: #fff;
}
/* line 58, ../compass/sass/style.scss */
#fixSmallNav .md-button:hover {
  border-bottom: 3px solid #000;
}

/* line 63, ../compass/sass/style.scss */
.md-toolbar-tools {
  background-color: #237a2b;
}
/* line 65, ../compass/sass/style.scss */
.md-toolbar-tools i {
  color: #5ba63d;
}
/* line 68, ../compass/sass/style.scss */
.md-toolbar-tools div .md-button {
  color: #5ba63d;
}

/* line 73, ../compass/sass/style.scss */
.active {
  border-bottom: 3px solid #000;
}

/* line 77, ../compass/sass/style.scss */
#mainPic {
  height: 460px;
  background: url("http://i.huffpost.com/gen/3398570/images/o-HAPPY-COLLEGE-STUDENTS-facebook.jpg") center center no-repeat;
  background-size: cover;
}

/* line 87, ../compass/sass/style.scss */
footer {
  width: 100%;
  text-align: center;
  color: #000;
  background-color: #fff;
  height: 50px;
  padding: auto;
  bottom: 0;
}
/* line 95, ../compass/sass/style.scss */
footer p {
  font-size: .9em;
}

/*==========================WELCOME HEADER==================================================================================*/
/* line 102, ../compass/sass/style.scss */
#ctaCards {
  font-size: 1em;
  text-align: center;
  color: #244717;
}

/* line 108, ../compass/sass/style.scss */
#freeCtas {
  padding-top: 6%;
  position: absolute;
  left: -6px;
}
/* line 112, ../compass/sass/style.scss */
#freeCtas a {
  color: #000;
}

/*==========================HOME PAGE==================================================================================*/
/* line 118, ../compass/sass/style.scss */
#ready {
  margin-top: 4em;
  margin-bottom: 3em;
  text-align: center;
}
/* line 122, ../compass/sass/style.scss */
#ready h3 {
  color: #000;
  font-size: 2em;
}
/* line 126, ../compass/sass/style.scss */
#ready i {
  color: #000;
  font-size: 4em;
  margin: auto .3em;
}

/* line 133, ../compass/sass/style.scss */
#threeMainCtas {
  margin: auto;
  margin-bottom: 3.7em;
  text-align: center;
  height: 300px;
}
/* line 138, ../compass/sass/style.scss */
#threeMainCtas div {
  color: #000;
  margin: auto;
  padding: auto;
}
/* line 149, ../compass/sass/style.scss */
#threeMainCtas h5 {
  color: #237a2b;
  font-weight: bold;
}
/* line 153, ../compass/sass/style.scss */
#threeMainCtas p {
  width: 79%;
  margin: auto;
}
/* line 157, ../compass/sass/style.scss */
#threeMainCtas i {
  font-size: 3em;
  color: #237a2b;
  margin-top: .3em;
}
/* line 162, ../compass/sass/style.scss */
#threeMainCtas a {
  color: #000;
  padding: auto 1.6em;
}
/* line 166, ../compass/sass/style.scss */
#threeMainCtas .md-button {
  color: #000;
}

/* line 172, ../compass/sass/style.scss */
#deadlines {
  margin-top: 1.7em;
  padding-top: 4em;
  padding-bottom: 6em;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  /* Standard syntax (must be last) */
}
/* line 181, ../compass/sass/style.scss */
#deadlines h2 {
  color: #fff;
  margin-bottom: 3.6em;
}

/* line 187, ../compass/sass/style.scss */
#letterToParents {
  color: #000;
  margin: auto;
}
/* line 190, ../compass/sass/style.scss */
#letterToParents div {
  padding: 1em 2em;
  margin: 2em auto;
}
/* line 194, ../compass/sass/style.scss */
#letterToParents h2 {
  text-align: center;
}

/*==========================ABOUT PAGE==================================================================================*/
/* line 201, ../compass/sass/style.scss */
#services {
  margin: auto;
  padding: 2.7em 1em;
  color: #fff;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  text-align: center;
}
/* line 211, ../compass/sass/style.scss */
#services i {
  color: #000;
  font-size: 2.6em;
  margin: .6em auto;
}
/* line 216, ../compass/sass/style.scss */
#services div {
  margin: 2em auto;
}
/* line 219, ../compass/sass/style.scss */
#services p {
  color: #000;
  width: 60%;
  margin: auto;
}

/* line 226, ../compass/sass/style.scss */
#collegeQuestions {
  text-align: center;
  margin-top: .6em;
}
/* line 229, ../compass/sass/style.scss */
#collegeQuestions h2 {
  color: #000;
  padding: 3.6em auto 3em auto;
}

/* line 235, ../compass/sass/style.scss */
#welcomeVid {
  margin: auto auto 6em auto;
}
/* line 237, ../compass/sass/style.scss */
#welcomeVid iframe {
  border: thick solid #000;
}

/* line 242, ../compass/sass/style.scss */
#pulsingQuests {
  margin: 4em auto 3em auto;
  color: #000;
}
/* line 245, ../compass/sass/style.scss */
#pulsingQuests div {
  margin: 3em;
}

/*==============================CONTACT PAGE==================================================================================*/
/* line 254, ../compass/sass/style.scss */
.contact h3 {
  margin: 2.3em auto;
  padding: 2em auto;
  color: #000;
}
/* line 259, ../compass/sass/style.scss */
.contact h4 {
  color: #000;
  text-align: center;
}
/* line 263, ../compass/sass/style.scss */
.contact p {
  color: #000;
}
/* line 266, ../compass/sass/style.scss */
.contact .md-button {
  display: block;
  color: #000;
  margin: auto;
}
/* line 271, ../compass/sass/style.scss */
.contact i {
  color: #237a2b;
  font-size: 1.6em;
}

/* line 277, ../compass/sass/style.scss */
.social {
  margin: 1.6em auto;
}
/* line 279, ../compass/sass/style.scss */
.social a {
  color: #237a2b;
}

/*=========================RESOURCES PAGE============================================================================*/
/* line 287, ../compass/sass/style.scss */
#resources h2 {
  text-align: center;
  margin: 2em auto;
  color: #000;
}
/* line 292, ../compass/sass/style.scss */
#resources .primaryTile {
  background: #237a2b;
  color: #fff;
}
/* line 296, ../compass/sass/style.scss */
#resources .secondaryTile {
  background: #5ba63d;
  color: #000;
}
/* line 300, ../compass/sass/style.scss */
#resources .standardTile {
  border: thick solid #000;
  background: #fff;
  color: #000;
}

/*=========================SCHOLARSHIP SUCCESS PAGE============================================================================*/
/* line 309, ../compass/sass/style.scss */
#rewards {
  margin: auto 3em;
  color: #000;
}
/* line 312, ../compass/sass/style.scss */
#rewards h2 {
  text-align: center;
  margin: 2em auto;
}
/* line 316, ../compass/sass/style.scss */
#rewards h5 {
  text-align: center;
  color: #237a2b;
}
/* line 320, ../compass/sass/style.scss */
#rewards md-input-container {
  margin: auto;
  width: 40%;
}
/* line 324, ../compass/sass/style.scss */
#rewards label {
  text-align: center;
}
/* line 327, ../compass/sass/style.scss */
#rewards ul {
  margin: auto;
}
/* line 330, ../compass/sass/style.scss */
#rewards li {
  list-style: none;
  padding: 1em;
}
/* line 334, ../compass/sass/style.scss */
#rewards p {
  height: 4em;
  margin-bottom: .3em;
  font-weight: bold;
  text-align: center;
  border-bottom: thin solid #237a2b;
}

/* line 343, ../compass/sass/style.scss */
#successBox {
  border: thin solid #237a2b;
  padding: 3em;
}

/*=========================VIDEOS============================================================================*/
/* line 352, ../compass/sass/style.scss */
#videos iframe {
  margin: 2em auto;
}
/* line 355, ../compass/sass/style.scss */
#videos h2 {
  text-align: center;
  margin: 3em auto 2em auto;
  color: #000;
}

/*==========================SEPARATOR STYLING==================================================================================*/
/* line 364, ../compass/sass/style.scss */
#bigHalfCircle {
  fill: #244717;
  stroke: #244717;
}

/* line 369, ../compass/sass/style.scss */
#trianglePath1 {
  fill: #244717;
  stroke: #244717;
}

/* line 374, ../compass/sass/style.scss */
#bigTriangleShadow {
  fill: #fff;
  stroke: #fff;
}
