/* line 17, ../compass/sass/style.scss */
#signUp {
  margin: auto;
  padding: 3em;
  text-align: center;
}
/* line 21, ../compass/sass/style.scss */
#signUp h5 {
  color: #237a2b;
  text-align: center;
  padding-top: 1em;
}
/* line 26, ../compass/sass/style.scss */
#signUp .md-button {
  color: black;
}

/* line 31, ../compass/sass/style.scss */
#globalSignUp {
  width: 300px;
  padding: .3em;
  position: absolute;
  top: -7px;
  right: 0;
  text-align: center;
  background: #fff;
}
/* line 39, ../compass/sass/style.scss */
#globalSignUp h5 {
  color: #000;
  text-align: center;
  padding-top: 1em;
}
/* line 44, ../compass/sass/style.scss */
#globalSignUp .md-button {
  color: black;
  font-size: .79em;
}
/* line 48, ../compass/sass/style.scss */
#globalSignUp select {
  margin: auto;
}

/* line 55, ../compass/sass/style.scss */
body, html {
  color: #237a2b;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}
/* line 59, ../compass/sass/style.scss */
body a, html a {
  text-decoration: none;
}

/* line 64, ../compass/sass/style.scss */
md-input-container label {
  color: #237a2b;
  font-size: 1em;
}

/* line 69, ../compass/sass/style.scss */
.slide-toggle {
  overflow: hidden;
  transition: all 1s;
  margin: auto;
}

/* line 75, ../compass/sass/style.scss */
#logo {
  max-width: 19%;
  position: absolute;
  bottom: 17%;
  left: 0;
}

/* line 83, ../compass/sass/style.scss */
#mobileNav, #fixedMobileNav {
  display: none;
}

/* line 87, ../compass/sass/style.scss */
#nav {
  box-shadow: 1px 2px 9px #777;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
}
/* line 94, ../compass/sass/style.scss */
#nav .md-button {
  color: #fff;
}
/* line 97, ../compass/sass/style.scss */
#nav .md-button:hover {
  border-bottom: 3px solid #000;
}

/* line 102, ../compass/sass/style.scss */
#fixSmallNav {
  position: fixed;
  top: 0;
  box-shadow: 1px 2px 9px #777;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
}
/* line 111, ../compass/sass/style.scss */
#fixSmallNav .md-button {
  color: #fff;
}
/* line 114, ../compass/sass/style.scss */
#fixSmallNav .md-button:hover {
  border-bottom: 3px solid #000;
}

/* line 119, ../compass/sass/style.scss */
.md-toolbar-tools {
  background-color: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
}
/* line 125, ../compass/sass/style.scss */
.md-toolbar-tools i {
  color: #5ba63d;
}
/* line 128, ../compass/sass/style.scss */
.md-toolbar-tools div .md-button {
  color: #5ba63d;
}

/* line 133, ../compass/sass/style.scss */
#social {
  background: transparent;
}

/* line 137, ../compass/sass/style.scss */
.active {
  border-bottom: 3px solid #000;
}

/* line 141, ../compass/sass/style.scss */
#mainPic {
  height: 30%;
  width: 100%;
}
/* line 147, ../compass/sass/style.scss */
#mainPic .logo {
  position: absolute;
  margin: 0;
  margin-top: 13%;
  z-index: 1;
  width: 16%;
}
/* line 154, ../compass/sass/style.scss */
#mainPic .fotorama {
  margin: 0 auto;
  height: 100%;
  padding: 0;
}
/* line 158, ../compass/sass/style.scss */
#mainPic .fotorama img {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 168, ../compass/sass/style.scss */
footer {
  width: 100%;
  text-align: center;
  color: #000;
  background-color: #fff;
  height: 50px;
  padding: auto;
  bottom: 0;
}
/* line 176, ../compass/sass/style.scss */
footer p {
  font-size: .9em;
}

/*==========================WELCOME HEADER==================================================================================*/
/* line 183, ../compass/sass/style.scss */
#ctaCards {
  font-size: 1em;
  text-align: center;
  color: #244717;
}

/* line 189, ../compass/sass/style.scss */
#freeCtas {
  padding-top: 6%;
  position: absolute;
  left: -6px;
}
/* line 193, ../compass/sass/style.scss */
#freeCtas a {
  color: #000;
}

/*==========================HOME PAGE==================================================================================*/
/* line 199, ../compass/sass/style.scss */
#ready {
  margin-top: 4em;
  margin-bottom: 3em;
  text-align: center;
}
/* line 203, ../compass/sass/style.scss */
#ready h3 {
  color: #000;
  font-size: 2em;
}
/* line 207, ../compass/sass/style.scss */
#ready i {
  color: #000;
  font-size: 4em;
  margin: auto .3em;
}

/* line 214, ../compass/sass/style.scss */
#threeMainCtas {
  margin: auto;
  margin-bottom: 3.7em;
  text-align: center;
  height: 300px;
}
/* line 219, ../compass/sass/style.scss */
#threeMainCtas div {
  color: #000;
  margin: auto;
  padding: auto;
}
/* line 230, ../compass/sass/style.scss */
#threeMainCtas h5 {
  color: #237a2b;
  font-weight: bold;
}
/* line 234, ../compass/sass/style.scss */
#threeMainCtas p {
  width: 79%;
  margin: auto;
}
/* line 238, ../compass/sass/style.scss */
#threeMainCtas i {
  font-size: 3em;
  color: #237a2b;
  margin-top: .3em;
}
/* line 243, ../compass/sass/style.scss */
#threeMainCtas a {
  color: #000;
  padding: auto 1.6em;
}
/* line 247, ../compass/sass/style.scss */
#threeMainCtas .md-button {
  color: #000;
}

/* line 253, ../compass/sass/style.scss */
#deadlines {
  margin-top: 1.7em;
  padding-top: 4em;
  padding-bottom: 6em;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  /* Standard syntax (must be last) */
}
/* line 262, ../compass/sass/style.scss */
#deadlines iframe {
  width: 100%;
}
/* line 266, ../compass/sass/style.scss */
#deadlines h2 {
  color: #fff;
  margin-bottom: 3.6em;
}

/* line 272, ../compass/sass/style.scss */
#letterToParents {
  color: #000;
  margin: auto;
}
/* line 275, ../compass/sass/style.scss */
#letterToParents div {
  padding: 1em 2em;
  margin: 2em auto;
}
/* line 279, ../compass/sass/style.scss */
#letterToParents h2 {
  text-align: center;
}

/*==========================ABOUT PAGE==================================================================================*/
/* line 286, ../compass/sass/style.scss */
#services {
  margin: auto;
  padding: 2.7em 1em;
  color: #fff;
  background: #237a2b;
  background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
  background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
  background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  text-align: center;
}
/* line 296, ../compass/sass/style.scss */
#services i {
  color: #000;
  font-size: 2.6em;
  margin: .6em auto;
}
/* line 301, ../compass/sass/style.scss */
#services div {
  margin: 2em auto;
}
/* line 304, ../compass/sass/style.scss */
#services p {
  color: #000;
  width: 60%;
  margin: auto;
}

/* line 311, ../compass/sass/style.scss */
#collegeQuestions {
  text-align: center;
  margin-top: .6em;
}
/* line 314, ../compass/sass/style.scss */
#collegeQuestions h2 {
  color: #000;
  padding: 3.6em auto 3em auto;
}

/* line 320, ../compass/sass/style.scss */
#welcomeVid {
  margin: auto auto 6em auto;
}
/* line 322, ../compass/sass/style.scss */
#welcomeVid iframe {
  border: thick solid #000;
}

/* line 327, ../compass/sass/style.scss */
#pulsingQuests {
  margin: 4em auto 3em auto;
  color: #000;
}
/* line 330, ../compass/sass/style.scss */
#pulsingQuests div {
  margin: 3em;
}

/*==============================CONTACT PAGE==================================================================================*/
/* line 339, ../compass/sass/style.scss */
.contact h3 {
  margin: 2.3em auto;
  padding: 2em auto;
  color: #000;
}
/* line 344, ../compass/sass/style.scss */
.contact h4 {
  color: #000;
  text-align: center;
}
/* line 348, ../compass/sass/style.scss */
.contact p {
  color: #000;
}
/* line 351, ../compass/sass/style.scss */
.contact .md-button {
  display: block;
  color: #000;
  margin: auto;
}
/* line 356, ../compass/sass/style.scss */
.contact i {
  color: #237a2b;
  font-size: 1.6em;
}

/* line 362, ../compass/sass/style.scss */
.social {
  margin: 1.6em auto;
}
/* line 364, ../compass/sass/style.scss */
.social a {
  color: #237a2b;
}

/*=========================RESOURCES PAGE============================================================================*/
/* line 372, ../compass/sass/style.scss */
#resources h2 {
  text-align: center;
  margin: 3em auto;
  color: #000;
}
/* line 377, ../compass/sass/style.scss */
#resources p {
  padding: 3em;
}
/* line 380, ../compass/sass/style.scss */
#resources a {
  color: #fff;
}
/* line 383, ../compass/sass/style.scss */
#resources span {
  font-weight: bold;
}
/* line 386, ../compass/sass/style.scss */
#resources form {
  margin: auto;
}
/* line 389, ../compass/sass/style.scss */
#resources .primaryTile {
  background: #237a2b;
  color: #fff;
}
/* line 393, ../compass/sass/style.scss */
#resources .secondaryTile {
  background: #5ba63d;
  color: #000;
}
/* line 397, ../compass/sass/style.scss */
#resources .standardTile {
  border: thick solid #000;
  background: #fff;
  color: #000;
}

/*=========================SCHOLARSHIP SUCCESS PAGE============================================================================*/
/* line 406, ../compass/sass/style.scss */
#rewards {
  margin: auto 3em;
  color: #000;
}
/* line 409, ../compass/sass/style.scss */
#rewards h2 {
  text-align: center;
  margin: 2em auto;
}
/* line 413, ../compass/sass/style.scss */
#rewards h5 {
  text-align: center;
  color: #237a2b;
}
/* line 417, ../compass/sass/style.scss */
#rewards md-input-container {
  margin-left: 30%;
  width: 40%;
}
/* line 421, ../compass/sass/style.scss */
#rewards label {
  text-align: center;
  margin: auto;
}
/* line 425, ../compass/sass/style.scss */
#rewards ul {
  margin: auto;
}
/* line 428, ../compass/sass/style.scss */
#rewards li {
  list-style: none;
  padding: 1em;
}
/* line 432, ../compass/sass/style.scss */
#rewards p {
  height: 4em;
  margin-bottom: .3em;
  font-weight: bold;
  text-align: center;
  border-bottom: thin solid #237a2b;
}

/* line 441, ../compass/sass/style.scss */
#successBox {
  border: thin solid #237a2b;
  padding: 3em;
}

/*=========================VIDEOS============================================================================*/
/* line 450, ../compass/sass/style.scss */
#videos iframe {
  margin: 2em auto;
}
/* line 453, ../compass/sass/style.scss */
#videos h2 {
  text-align: center;
  margin: 3em auto 2em auto;
  color: #000;
}

/*==========================SEPARATOR STYLING==================================================================================*/
/* line 462, ../compass/sass/style.scss */
#bigHalfCircle {
  fill: #244717;
  stroke: #244717;
}

/* line 467, ../compass/sass/style.scss */
#trianglePath1 {
  fill: #244717;
  stroke: #244717;
}

/* line 472, ../compass/sass/style.scss */
#bigTriangleShadow {
  fill: #fff;
  stroke: #fff;
}

@media only screen and (max-width: 1279px) {
  /* line 483, ../compass/sass/style.scss */
  .active {
    background: #237a2b;
    border: none;
  }

  /* line 490, ../compass/sass/style.scss */
  #threeMainCtas {
    margin-top: 13em;
  }
  /* line 492, ../compass/sass/style.scss */
  #threeMainCtas div {
    margin-top: 3em;
  }

  /* line 497, ../compass/sass/style.scss */
  #freeCtas {
    display: none;
  }

  /* line 503, ../compass/sass/style.scss */
  #socialNav, #nav, #fixSmallNav {
    display: none;
  }

  /* line 507, ../compass/sass/style.scss */
  #mobileNav {
    display: block;
  }
  /* line 509, ../compass/sass/style.scss */
  #mobileNav .md-toolbar-tools {
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  }
  /* line 515, ../compass/sass/style.scss */
  #mobileNav i {
    color: #fff;
  }

  /* line 520, ../compass/sass/style.scss */
  #fixedMobileNav {
    display: block;
    position: fixed;
    top: 0;
  }
  /* line 524, ../compass/sass/style.scss */
  #fixedMobileNav .md-toolbar-tools {
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  }
  /* line 530, ../compass/sass/style.scss */
  #fixedMobileNav i {
    color: #fff;
  }

  /* line 535, ../compass/sass/style.scss */
  #fixedToggleNav {
    position: fixed;
    top: 47;
    background: #237a2b;
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
    text-align: center;
    padding-top: 3em;
    height: 23%;
  }
  /* line 546, ../compass/sass/style.scss */
  #fixedToggleNav .md-toolbar-tools {
    background: #237a2b;
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  }
  /* line 553, ../compass/sass/style.scss */
  #fixedToggleNav a, #fixedToggleNav md-button {
    width: 100%;
  }
  /* line 556, ../compass/sass/style.scss */
  #fixedToggleNav div {
    padding-top: 1em;
  }
  /* line 559, ../compass/sass/style.scss */
  #fixedToggleNav i {
    color: #fff;
  }

  /* line 564, ../compass/sass/style.scss */
  #toggledMobileNav {
    background: #237a2b;
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
    text-align: center;
    padding-top: 3em;
    height: 15%;
  }
  /* line 573, ../compass/sass/style.scss */
  #toggledMobileNav .md-toolbar-tools {
    background: #237a2b;
    background: -webkit-linear-gradient(left, #237a2b, #5ba63d, #237a2b);
    background: -o-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: -moz-linear-gradient(right, #237a2b, #5ba63d, #237a2b);
    background: linear-gradient(to right, #237a2b, #5ba63d, #237a2b);
  }
  /* line 580, ../compass/sass/style.scss */
  #toggledMobileNav a, #toggledMobileNav md-button {
    width: 100%;
  }
  /* line 583, ../compass/sass/style.scss */
  #toggledMobileNav div {
    padding-top: 1em;
  }
  /* line 586, ../compass/sass/style.scss */
  #toggledMobileNav i {
    color: #fff;
  }

  /* line 595, ../compass/sass/style.scss */
  #deadlines {
    margin-top: 17em;
  }
}
@media only screen and (max-width: 959px) {
  /* line 602, ../compass/sass/style.scss */
  #services
  p {
    width: 87%;
  }

  /* line 607, ../compass/sass/style.scss */
  #about {
    width: 90%;
    padding: 2em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 615, ../compass/sass/style.scss */
  .flex-xs-100 {
    -webkit-flex: 0;
    flex: 1 1 19% !important;
  }
}
