<!-- ====================================QUESTIONS========================================================== -->

<div id="collegeQuestions" class="md-padding">
			<h2>
				We help you with this...
			</h2>
	
		<!-- <div layout layout-align="center" id="pulsingQuests">
			<div flex="15" class="animated pulse infinite">
				Can I afford to send my kid to college?
			</div>
			<div flex="15" class="animated pulse infinite">
				Will I qualify for free scholarships and grants?
			</div>
			<div flex="15" class="animated pulse infinite">
				Will college bankrupt me or put me in major debt?
			</div>
			<div flex="15" class="animated pulse infinite">
				Do I have to spend my savings to pay for college?
			</div>
		</div> -->

</div>

<div flex="50" layout layout-wrap layout-align="center" id="welcomeVid">
		<iframe  src="https://www.youtube.com/embed/bwvC9KA8hEc?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Welcome</a></h3> -->
</div>

<!-- <svg id="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path d="M0 100 C40 0 60 0 100 100 Z"/>
</svg> -->

<!-- ====================================ABOUT CFR========================================================== -->

<div id="services">
	
	<h3>
		Here's what I can do for your child or family…
	</h3>

	<div layout layout-align="center" layout-sm="column" layout-md="column">
		<div flex-gt-md="30" flex="70">
			<i class="fa fa-search"></i>
			<p>
				Guide your child on finding their best college, by conducting a strategic examination where I explore exactly what they value in a college or university.
			</p>
		</div>
		<div flex-gt-md="30" flex="70">
			<i class="fa fa-calculator"></i>
			<p>
				Create strategies for your family to consistently get maximum grants and scholarships based on the most critical factor: EFC (Expected Family Contribution).
			</p>
		</div>
		<div flex-gt-md="30" flex="70">
			<i class="fa fa-money"></i>
			<p>
				Draft a sound financial plan so parents can send multiple kids through college while adding to their retirement funds.
			</p>
		</div>
	</div>

	<!-- <ol>
		<span flex="50">
			<li>
				Expert audit of your target college list to give you a realistic evaluation of your ability to be admitted to your “dream” schools.
			</li>
			<li>
				Expert estimate of approximately how much scholarship and grant money you can expect based on your college list.
			</li>
			<li>
				Expert estimate of any (and $$ amount) merit scholarships you’ll get.	
			</li>
			<li>
				Expert review of your financial aid forms (FAFSA, CSS); specific steps you need to take to get maximum grants and scholarships.
			</li>
			<li>
				Auditing your financial aid forms to make specific recommendations so you maximize your awards.
			</li>
			<li>
				Evaluating and recommending the scholarship and grant-generating actions you need to take based on your year in High School--or if you’re already in college.
			</li>
			<li>
				Expert review of student essays to insure correct positioning of the student. A strategic, polished essay will vastly increase your chance of admission.
			</li>
			<li>
				“From scratch” writing of college essays by a Harvard graduate. This is for students who are entering technical and other non-writing fields.
			</li>
			</span>
			<span flex="50">
			<li>
				Step-by-step “how to” on creating a relationship with admissions counselors to increase your chance of admission.
			</li>
			<li>
				Total College Funding Plan strategies and execution to save you time and find every dollar you deserve.
			</li>
			<li>
				FAFSA and CSS Profile audits to ensure your family gets maximum grants and scholarships.	
			</li>
			<li>
				60-Minute “Bootcamp” Trainings for selected students and their families to arm you with the basics to create your own college funding plan.
			</li>
			<li>
				One-on-one consultations to create a college funding plan tailored for your student and your family finances.
			</li>
			<li>
				Motivational coaching to help students see and achieve their full potential.
			</li>
			<li>
				Audit of your current college funding plan. If your plan is not working, I can tell you why. 
			</li>
			<li>
				Timelines and Key Dates you must observe to get the Free Money you need and get your child accepted into the school he or she desires.
			</li>
		</span>
	</ol> -->
	
</div>

<!-- <svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	<path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
</svg> -->

<!-- ====================================ABOUT TREVOR========================================================== -->
<div flex id="about">
	
	<center>
		<h2>
			Trevor Ramos
		</h2>
		<i>
			President of College Funding Remedies
		</i>
	</center>
	<p>
		<img ng-src="http://collegefundingremedies.com/images/trevor.jpg" class="md-card-image"></img> My name is Trevor Ramos. Not so long ago, I was worried sick about how I was going to get into college and pay for it. Most of high school, I was a football jock and a mediocre student. My GPA was a “stellar” 2.8 because I spent hours trying to get in shape so I could get a football scholarship. At least I had a goal in mind.
		<br>
		<br> The only problem was I was basically too short, and too light play football for any schools that had enough money to give me a scholarship. My high school teachers, counselors and coaches all told me that community college was my best bet. I dreamt for years of getting a traditional 4-year college experience, so I took this news pretty hard. I felt like they were telling me I wasn’t college material. This made me want to prove them wrong.… I always assumed I was going to college. I knew I was smart enough. I also knew my mom couldn’t foot the bill. But—how did I get even get myself in this situation?
		<br>
		<br> “I Won’t Go to Junior College” There had to be a way to get the money I needed. Instead of accepting what the everyone told me, I dug in and made it happen.
		<br>
		<br> I became obsessed with learning how to get a scholarship and grant to pay for college! I spent hours at the library, bookstore, and on internet searching for information I could use. I called everyone I knew and people I didn’t know. And I uncovered the secrets of how financial aid really works.
		<br>
		<br> Because I didn’t know what I was doing, it took hours and hours and hours of research—research I’ll share with you so you can get the money you need quickly and easily. What I Found Out Paid Off Big Time For Me & It Can Do The Same For You!
		<br>
		<br> I got a full 4-year financial award valued at $178,000! And $165,000 was free money I didn’t have to pay back! It didn’t cover all the costs, but I was able to graduate with a degree in accounting owing just over $35,000 for all four years.
		<br>
		<br> Pretty good, huh? Now, you might ask yourself (I sure did), “why did everyone tell me to attend community college?” The answer is: They didn’t have a clue that I could pay for a four-year degree because they we’re experts on college funding. Like most people—they thought the only way to get a scholarship was to have a 4.0 GPA. They also believed the only other way to pay for college was by going into debt. Boy, were they wrong. And I am so glad I found out the truth. Because here’s what I found… WHEN IT COMES TO PAYING FOR COLLEGE, any student can get thousands of dollars in FREE TUITION AND FEES—no matter how much $$ their family makes, no matter what their family assets, even if their GPA is below a 3.0!
		<br>
		<br> I will show you how to get a prestigious four-year degree for pennies on the dollar. Why? Because I think it’s criminal the kind of debt students and parents have to take on just to pay for college. Using my techniques, students graduate with little to no debt from the top colleges in the U.S. Some end up paying a few thousand out of pocket, like I did.
		<br>
		<br> If you shop at Costco, you know you can get name brand merchandise for a lot less. And when you buy on sale, you know that there are great deals out there.
		<br>
		<br> Believe it or not, the same is true for a college education. There are many top-tier schools that give out “secret” scholarships to fill their classrooms.
		<br>
		<br> This “insider’s” list changes year to year, and that’s key intel that I stay on top of. Now, if you know how financial aid really works, and the techniques and tricks I discovered and keep updating, you can use them to collect all the FREE money you’ll need.
		<br>
		<br> Top-tier colleges will pay your child to study with them—if you have the right information and execute a smart strategy customized for your family. You’re probably thinking, “this sounds too good to be true… what’s the catch?” The catch is, you’ll need a sharp strategy and do some work. But, with my help, you’ll never go through what I went through. I was like a blind man in the dark when I started out. You’ll get a clear, step-by-step game plan for getting the degree your child wants and deserves—and pay pennies on the dollar.
		<br>
		<br> FIND OUT NOW about my book “How To Get Free Money For College!” and our no cost, no obligation workshops, webinars, consultations and new “how to” videos to get the money you need.
		<br>
		<br>
	</p>
</div>

	<footer>
        <p>&copy; Copyright 2014 College Funding Remedies. Website Kreated by Kandianne.</p>
    </footer>

</div>
