
<div layout="row" layout-align="center center" id="contact">

	<md-button class="md-button">
	<a href="https://www.facebook.com/BestCollegesForPenniesOnTheDollar/" target="_blank">
		<i class="fa fa-facebook-square animated pulse infinite"></i>
	</a>
</md-button>

<md-button class="md-button">
<a href="https://www.youtube.com/channel/UCNkDLQOuMCa03qxwwsMT5iQ"  target="_blank">
	<i class="fa fa-youtube-square  animated pulse infinite"></i>
</a>
</md-button>


<md-button class="md-button">
<a href="">
	<i class="fa fa-twitter-square  animated pulse infinite"></i>
</a>
</md-button>

</div>

<div layout="row" layout-align="center center">
	<h3>
		1055 East Colorado Blvd, Suite 500, Pasadena, CA 91106
	</h3>
</div>

<!-- <div layout="row" layout-align="center center">
	<h4>
		626.657.7887
	</h4>
</div> -->

<div layout="row" layout-align="center center">
	<h4>
		626.657.7887   -   trevor@collegefundingremedies.com
	</h4>
</div>
