


	<div layout flex>
		<h3>Get in touch...</h3>
	</div>	

<div layout="row" layout-align="center center">


<md-card flex="79" layout-padding layout="row" layout-md="column" layout-wrap >
	<md-card-content >
		<div layout flex>
			
			<div flex="40">
			<h5 layout>
				<i class="fa fa-phone"></i> 626.657.7887
				
			</h5>
			<h5 layout>
				<i class="fa fa-envelope"></i>info@collegefundingremedies.com
			</h5>
			<h5 layout>
				<i class="fa fa-home"></i>1055 East Colorado Blvd, Suite 500, Pasadena, CA 91106
			</h5>
			</div>
				
			<div flex="60">
			<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1ses!2sus!4v1447036042345!6m8!1m7!1sUtPk854qhePGGlCQn5VI3Q!2m2!1d34.14591462709601!2d-118.1287162737336!3f349.82!4f1.9899999999999949!5f0.7820865974627469" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

		<div layout-align="center center">
		<h3>Send us a message...</h3>
		</div>	

		<md-input-container>
		<label>
			Full Name and Grade of Student
		</label>
		<input  type="text">
		</md-input-container>

		<md-input-container>
		<label>
			Message
		</label>
		<input  type="text">
		</md-input-container>

		<md-input-container>
		<label>
			Your Email
		</label>
		<input  type="email">
		</md-input-container>
		<md-button class="md-button">
		SEND
		</md-button>
	</md-card-content>
</md-card>
	
	
</div>

<div layout="row" layout-align="center center" id="contact">

	<md-button class="md-button">
			<a href="" target="_blank">
				<i class="fa fa-phone"></i>
			</a>
		</md-button>

		<md-button class="md-button">
		<a href="https://www.facebook.com/BestCollegesForPenniesOnTheDollar/" target="_blank">
			<i class="fa fa-facebook-square animated pulse infinite"></i>
		</a>
		</md-button>

		<md-button class="md-button">
		<a href="https://www.youtube.com/channel/UCNkDLQOuMCa03qxwwsMT5iQ"  target="_blank">
			<i class="fa fa-youtube-square  animated pulse infinite"></i>
		</a>
		</md-button>


		<md-button class="md-button">
		<a href="">
			<i class="fa fa-twitter-square  animated pulse infinite"></i>
		</a>
	</md-button>

</div>

