


	<div class="contact" layout flex layout-align="center">
		<h3>Come visit or Send us a message</h3>
	</div>	

<div layout="row" flex="100" class="contact" layout-align="center center" layout-md="column" layout-sm="column">
		<md-card  data-ng-controller="ContactFormController as cf" flex="70" layout-padding layout-wrap>
			<form name="contactForm" data-ng-submit="cf.sendMail()">
				<md-card-content>
					<h4>Fill out below and send</h4>
						<md-input-container>
						<label>
							Full Name and Grade of Student
						</label>
						<input type="text" name="name" value="" data-ng-model="cf.contactStudent" required>
						</md-input-container>

						<md-input-container>
						<label>
							Name of Parent
						</label>
						<input type="text" name="name" value="" data-ng-model="cf.contactParent" required>
						</md-input-container>

						<md-input-container>
						<label>
							Message
						</label>
						<textarea type="text" name="name" value="" data-ng-model="cf.contactMessage" required></textarea>
						</md-input-container>

						<md-input-container>
						<label>
							Your Email
						</label>
						<input type="email" name="name" value="" data-ng-model="cf.contactEmail" required>
						</md-input-container>
						<md-button type="submit" class="md-button">
						SEND MESSAGE
						</md-button>
						
				</md-card-content>
			</form>
		</md-card>
</div>
 
<div layout="row" flex="100" class="contact" layout-align="center center" layout-md="column" layout-sm="column">
	<md-card flex="70" layout-padding layout-wrap >
		<md-card-content >
			<div layout>
				<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1ses!2sus!4v1447036042345!6m8!1m7!1sUtPk854qhePGGlCQn5VI3Q!2m2!1d34.14591462709601!2d-118.1287162737336!3f349.82!4f1.9899999999999949!5f0.7820865974627469" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div layout flex>
				<div>
					<h5 layout>
						<p><i class="fa fa-phone"></i>&nbsp;&nbsp; 626.657.7887</p>
					</h5>
					<h5 layout>
						<p><i class="fa fa-envelope"></i>&nbsp; info@collegefundingremedies.com</p>
					</h5>
					<h5 layout>
						<p><i class="fa fa-home"></i>&nbsp; 1055 East Colorado Blvd. #500, Pasadena, CA 91106</p>
					</h5>
				</div>
			</div>
		</md-card-content>
	</md-card>
		
</div>

				<div flex="13" layout="row" layout-align="center" class="social">
					<md-button class="md-button">
						<a href="https://www.facebook.com/BestCollegesForPenniesOnTheDollar/" target="_blank">
							<i class="fa fa-facebook-square animated pulse infinite"></i>
						</a>
					</md-button>
					<md-button class="md-button">
						<a href="https://www.youtube.com/channel/UCNkDLQOuMCa03qxwwsMT5iQ"  target="_blank">
							<i class="fa fa-youtube-square  animated pulse infinite"></i>
						</a>
					</md-button>
					<md-button class="md-button">
						<a href="">
							<i class="fa fa-twitter-square  animated pulse infinite"></i>
						</a>
					</md-button>
				</div>

	<footer>
        <p>&copy; Copyright 2014 College Funding Remedies. Website Kreated by Kandianne Pierre.</p>
    </footer>

