<div layout-align="center center" id="getStarted">

	<div class="md-item-text md-whiteframe-z1" layout="row" layout-wrap flex="70">

		<md-list-item class="md-2-line veggie-option">

		<i class="fa fa-phone">&nbsp;1</i>
		<p>
			This is the first step that you would take. This is the first step that you would take. This is the first step that you would take. This is the first step that you would take.
		</p>

	</md-list-item>
</div>

<div class="md-item-text md-whiteframe-z1" layout="row" flex="70" layout-wrap flex layout-align="center center">

	<md-list-item class="md-2-line veggie-option">

	<i class="fa fa-phone">&nbsp;2</i>
	<p>
		This is the second step that you would take. This is the second step that you would take. This is the second step that you would take. This is the second step that you would take. This is the second step that you would take.
	</p>

</md-list-item>
</div>

<div class="md-item-text md-whiteframe-z1" layout="row" flex="70" layout-wrap flex layout-align="center center">

	<md-list-item class="md-2-line veggie-option">

	<i class="fa fa-phone">&nbsp;3</i>
	<p>
		This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take.
	</p>

</md-list-item>
</div>

<div class="md-item-text md-whiteframe-z1" layout="row" flex="70" layout-wrap flex layout-align="center center">

	<md-list-item class="md-2-line veggie-option">

	<i class="fa fa-phone">&nbsp;4</i>
	<p>
		This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take. This is the third step you would take.
	</p>

</md-list-item>
</div>
</div>