<div ng-controller="HomeController as vm">

	<div flex layout-align="center center" id="ready">
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
		<h3>
			Want free money for college?
		</h3>
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
	</div>

	<div layout-align="center" layout-xs="column" layout-sm="column" layout-md="column" id="threeMainCtas">
		<div flex-gt-md="30" flex="70">
			<a ui-sref="Contact" target="_blank">
			<h5>PERSONAL CONSULATION</h5>
			<p>
				Get started right away. Call (626) 657-7887 for a consultation or email info@collegefundingremedies.com.
			</p>
			<i class="fa fa-phone"></i>
			</a>
		</div>
		<div flex-gt-md="30" flex="70" id="book">
			<a href="http://www.amazon.com/dp/1508769826/ref=rdr_ext_tmb" target="_blank">
			<h5>COLLEGE FUNDING BOOK</h5>
			<p>
				Click here to read my book and learn how to prepare a game plan for getting the degree your child wants and deserves.
			</p>
			<i class="fa fa-book"></i>
			</a>
		</div>
		<div flex-gt-md="30" flex="70">
			<a>
			<h5>APPLICATION DEADLINES</h5>
			<p>
				Know the application deadlines for financial aid forms, private colleges, UCs, and Cal States. Click here.
			</p>
			<i class="fa fa-exclamation"></i>
			</a>
		</div>
	</div>

	<div id="deadlines">
		<div layout layout-align="center">
			<h2>
				Application Deadlines
			</h2>
		</div>	
		<div layout layout-align="center" layout-xs="column">
				<div flex-xs="100" flex="25">
					<iframe src="//w2.countingdownto.com/629193" frameborder="0"></iframe>
				</div>
				<div flex-xs="100" flex="25">
					<iframe src="//w2.countingdownto.com/629226" frameborder="0"></iframe>
				</div>
				<div flex-xs="100" flex="25">
					<iframe src="//w2.countingdownto.com/629166" frameborder="0"></iframe>
				</div>
				<div flex-xs="100" flex="25">
					<iframe  src="//w2.countingdownto.com/629161" frameborder="0"></iframe>
				</div>
		</div>		
	</div>
	<div id="videos">
		<h2>Here’s what students say about our services</h2>
		<div layout="row" layout-wrap layout-align="center center">
			<iframe src="https://www.youtube.com/embed/V-b6YP6utkQ?hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen flex="33"></iframe>
			<!-- <h3><a href="mailto:info@collegefundingremedies.com">Gets $54,000 per year</a></h3> -->
			<iframe src="https://www.youtube.com/embed/zlcr3-TsOSw?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="33"></iframe>
			<!-- <h3><a href="mailto:info@collegefundingremedies.com">NO student loans</a></h3> -->
			<iframe src="https://www.youtube.com/embed/kv1z4AbvSXU?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="33"></iframe>
		</div>
	</div>
	
</div>


<div id="letterToParents">
	<div layout layout-align="center">
		<md-card>
			<md-card-content>
				<h2>Dear Parents...</h2>
				<p>I’ve created a special book for you titled: <strong>How To Get Free Money for College</strong></p>

				<p>This book is the best introduction to getting free money scholarships and grants. It is “must read” for the parents of college-bound high school students who don’t want to blow all their money on college tuition and expenses.</p>

				<p>As a Certified College Funding Specialist I am often asked by parents of college-bound high school students when the best time is to get free money in the form of scholarships and grants to help pay for college. The answer is simple, but how you get to the answer is not.</p>

				<p>The best time to get the free money you are seeking to help pay<span id="hilight">for your students college education is January, February, and March of their senior year.</span> That’s the time when the colleges and universities are flush with scholarship and grant money.
				</p>

				<p>When the “free money” gets low, or is gone, it naturally becomes increasingly difficult to get any free money.
				</p>

				<h3>The Most Expensive Way In The World To Pay For College!</h3>

				<p>In fact, if you wait too long, the only way to get money for college is through student loans and parent loans. This is an easy (but unbelievably expensive) way to pay for college. Why? <span id="hilight"> It’s expensive because you (or your child), could easily pay an additional $50,000 to $100,000+ in interest and finance charges.</span></p>

				<p>The not so simple answer to this question often shocks parents: Your best chance of <span id="hilight"> getting the big money actually starts between the 7th and 10th grades.</span> Some parents gasp when I tell them this. That’s because they think that the 11th grade is the appropriate time to start planning for college.
				</p>
				<p>In the old days this was probably true. However, today everything has changed. The cost of college is much more than it ever was in the past. In fact, it’s such a huge investment to get <span id="hilight">a college degree ($100,000 to $200,000+),</span> the only thing more expensive in life will be the purchase of a family home in a nice neighborhood, or paying for a catastrophic illness if you have no health insurance.</p>

				<h3>You Are In For A Big Surprise!</h3>

				<span id="hilight">If you have a college-bound high school student, you are in for a big financial surprise.</span>

				<p>It’ll be a big surprise because <span id="hilight"> you and your student are going to have to come up with $20,000 to $60,000 PER YEAR,</span> until your student graduates. If you are lucky and have really good student, this will be 4 consecutive years. For not so lucky parents and students, this could easily drag out to 5-7 years.</p>

				<p>If you don’t have the money to throw at this <span id="hilight">“cash-eating monster,”</span> you are going to have to borrow the money through student loans, second mortgages, or dip into your retirement savings. Or, you can simply tell your student that the only way they are going to college is to get student loans or to go to a cheap community college and start with an AA degree.</p>

				<h3>I Can Show You Where The Money Is, And How To Get It!</h3>

				<p>There are <span id="hilight">billions of dollars of free money scholarships and grants available</span> to all college-bound high school students. The problem is that most parents are too busy living their lives, raising their families, and earning a living to take the time and expertise to find out where all this money is and how to get it.</p>

				<p>This is where I can help you. <span id="hilight"> Helping students get into the colleges of their dreams and then finding the money to pay for it is what I do. </span> I am an expert in this field and I have helped over 200 families over the past 3+ years achieve their dreams of getting their kids into the top colleges in America for a fraction of the price they would normally pay. <span id="hilight"> I have skills that allow me to engineer financial award packages that can pay for the lion’s share of college tuition and expenses.</span></p>

				<p>Check out the <a href="http://collegefundingremedies.com/true_stories.html#testimonials"> testimonial videos</a> I’ve received from grateful parents who have no problem telling others that I showed them how to find money for college when there was none, and how to preserve their retirement savings and to avoid blowing the equity they’ve built into their homes and businesses to pay for their kids’ college.</p>

				<h3>How Do I Do it? What’s The Secret?</h3>

				<p>The secret is that<span id="hilight"> I learned how to do this for myself.</span> That’s how I got my <strong>Bachelors of Science Degree in Accounting from Boston University.</strong> <span id="hilight">I got $165,000 in free money scholarships and grants that I never have to pay back. Plus, I did all this with a 2.8 GPA. I know this sounds impossible, but it is true.</span></p>

				<p>I love helping kids get into the colleges of their dreams and I love helping students and their parents find the money to pay for college so they don’t have to face financial ruin to pay for college.</p>

				<p>The only problem is that <span id="hilight"> this work is extremely time consuming. It requires extraordinary focus on my part to deliver the guidance, financial knowledge, and attention to detail </span> that makes getting accepted to the top colleges and getting free money scholarships and grants seem easy.</p>

				<p id="hilight">It’s so labor intensive that I am only able to accept eight (8) new clients per month.</p>

				<p>If you are sincerely interested in sending your kids to the top colleges in America for pennies on the dollar, please contact me right away and be prepared to talk about the colleges you want your student to attend and what plans (if any) you have made to pay for your student’s college education.</p>

				<p>In return<span id="hilight"> I’ll share with you all the ways we can get free money scholarships and grants to cover the costs, and which colleges and universities are most likely to give your student money to attend their school.</span> This conversation will take about 30-45 minutes, so <span id="hilight">make sure you have the time and can take notes.</span>
				</p>
									Sincerely,
				<br /><br />Trevor Ramos
				<br /><strong>Certified College Planning Specialist</strong>
			</md-card-content>	
		</md-card>
	</div>

	<footer>
        <p>&copy; Copyright 2014 College Funding Remedies. Website Kreated by Kandianne.</p>
    </footer>

</div>



