<div ng-controller="HomeController as vm">

	<div layout="row" layout-md="column" flex layout-align="center center" id="ready">
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
		<h3>
			Want free money for college?
		</h3>
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
	</div>

	<div layout layout-align="center" layout-sm="column" layout-md="column" id="threeMainCtas">
		<div flex-gt-md="30" flex="70">
			<h5>PERSONAL CONSULATION</h5>
			<p>
				Get started right away. Call (626) 657-7887 for a consultation or email info@collegefundingremedies.com.
			</p>
			<i class="fa fa-phone"></i>
		</div>
		<div flex-gt-md="30" flex="70" id="book">
			<a href="http://www.amazon.com/dp/1508769826/ref=rdr_ext_tmb" target="_blank">
			<h5>COLLEGE FUNDING BOOK</h5>
			<p>
				Click here to read my book and learn how to prepare a game plan for getting the degree your child wants and deserves.
			</p>
			<i class="fa fa-book"></i>
			</a>
		</div>
		<div flex-gt-md="30" flex="70">
			<a href="#/#deadlines">
			<h5>APPLICATION DEADLINES</h5>
			<p>
				Know the application deadlines for financial aid forms, private colleges, UCs, and Cal States. Click here.
			</p>
			<i class="fa fa-exclamation"></i>
			</a>
		</div>
	</div>

	<div id="deadlines">

	<div layout  layout-align="center">
		<h2>
			Application Deadlines
		</h2>
	</div>	
	<div layout  layout-align="center">
			<div flex="25">
				<iframe width="100%" src="//w2.countingdownto.com/629193" frameborder="0"></iframe>
			</div>
			<div flex="25">
				<iframe width="100%" src="//w2.countingdownto.com/629226" frameborder="0"></iframe>
			</div>
			<div flex="25">
				<iframe width="100%" src="//w2.countingdownto.com/629166" frameborder="0"></iframe>
			</div>
			<div flex="25">
				<iframe width="100%" src="//w2.countingdownto.com/629161" frameborder="0"></iframe>
			</div>
	</div>		

	</div>
	
</div>