<div ng-controller="HomeController as vm">

	<div layout="row" layout-md="column" layout-align="center center" id="ready">
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
		<h3>
			Get free money for college?
		</h3>
		<a href="#/#book">
			<i class="fa fa-caret-down animated flash infinite"></i>
		</a>
	</div>

	<div layout layout-align="center" layout-sm="column" layout-md="column" id="threeMainCtas">
		<div flex-gt-md="30" flex="70">
			<h5>PERSONAL CONSULATION</h5>
			<p>
				Get started right away. Call (626) 657-7887 for a consultation or email info@collegefundingremedies.com.
			</p>
			<i class="fa fa-phone"></i>
		</div>
		<div flex-gt-md="30" flex="70" id="book">
			<h5>COLLEGE FUNDING BOOK</h5>
			<a href="http://www.amazon.com/dp/1508769826/ref=rdr_ext_tmb">
				<!-- <img id="bookImg" src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlp1/v/t1.0-9/11217545_663115670456167_3922717380468078718_n.jpg?oh=a949620ba74f94e299c429bcfcdba746&oe=56849BDB"> -->
			<p>
				Read my book and learn how to prepare a game plan for getting the degree your child wants and deserves.
			</p>
			<i class="fa fa-book"></i>
			</a>
		</div>
		<div flex-gt-md="30" flex="70">
			<h5>APPLICATION DEADLINES</h5>
			<p>
				Know the application deadlines for financial aid forms, private colleges, UCs, and Cal States.
			</p>
			<i class="fa fa-exclamation"></i>
		</div>
	</div>
	
</div>