<div id="resources">
	<h2>Here are the FREE resources we provide to get you started</h2>

	<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
	  	<md-grid-tile md-rowspan="2" md-colspan="2" class="primaryTile">
	  		Workshops
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="secondaryTile">
	  		Personal Consultations
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		Reports
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="secondaryTile">
	  		Webinar
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		Book
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="4" class="secondaryTile">
	  		Informational Newsletters
	  	</md-grid-tile>
	</md-grid-list>

<!-- 	<div layout layout-align="center">
		<div flex="10">
			<h4>E-Zine</h4>
		</div>
		<div flex="10">	
			<h4>Monthly Workshops</h4>
		</div>
		<div flex="10">
			<h4>Free Consultation</h4>
		</div>
		<div flex="10">
			<h4>Free Consultation</h4>
		</div>
		<div flex="10">
			<h4>Free Consultation</h4>
		</div>
		<div flex="10">
			<h4>Free Consultation</h4>
		</div>
	</div> -->

</div>
