<h1>Success</h1>


<div class="md-item-text md-whiteframe-z1" layout="row" layout-wrap flex>

	<md-list-item class="md-2-line veggie-option">
	<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

	<p>Click to see how much Kandi saved...</p>
</md-list-item>



<md-list-item class="md-2-line veggie-option">
<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

<p>Click to see how much Kandi saved...</p>
</md-list-item>

<md-list-item class="md-2-line veggie-option">
<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

<p>Click to see how much Kandi saved...</p>
</md-list-item>
</div>