
<div ng-controller="SuccessController as vm" id="rewards">

	<h2>View Over {{vm.awards}} Rewards Given</h2>
	<md-input-container>
			<label>
				<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search College or University here...
			</label>
			<input  type="text" ng-model="search.colleges">
	</md-input-container>

	<div id="successBox">
		<div layout>
			<h5 flex="33">COLLEGE/UNIVERSITY</h5>
			<h5 flex>FINANCIAL AID OFFER<br>(PER YEAR)</h5>
			<h5 flex>PROJECTED OFFER<br>(OVER 4 YEARS)</h5>
		</div>
		<div layout ng-repeat="s in vm.successes | filter: search">
			<p id="collegeNames" flex="33">{{s.colleges}}</p>
			<p flex>{{s.offers}}</p>
			<p flex>{{s.projections}}</p>
		</div>
	</div>
				
</div>
<footer>
    <p>&copy; Copyright 2014 College Funding Remedies. Website Kreated by Kandianne Pierre.</p>
</footer>