
<div ng-controller="SuccessController as vm" id="rewards">

	<h2>See Rewards Given</h2>
		<md-input-container>
			<label>
				<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search College or University here...
			</label>
			<input  type="text" ng-model="search">
		</md-input-container>
	<div layout>
		<ul flex="25">
		<p>NAME OF COLLEGE or UNIVERSITY</p>
		<li ng-repeat="c in vm.colleges | filter: search"  >{{c}}</li>
		</ul>
		<ul flex="25">
			<p>FINANCIAL AID OFFER
				<br>
				<span style="font-size:.6em;">(PER YEAR)</span></p>
			<li style="text-align: center;" ng-repeat="o in vm.offers track by $index">{{o}}</li>
		</ul>
		<ul flex="25">
			<p>PROJECTED OFFER
				<br>
				<span style="font-size:.6em;">(OVER 4 YEARS)</span></p>
			<li style="text-align: center;" ng-repeat="p in vm.projections track by $index">{{p}}</li>
		</ul>
	</div>

			
</div>