
<div id="videos">
	<div layout="row" flex="90" layout-wrap  layout-align="center center">
		<iframe  src="https://www.youtube.com/embed/bwvC9KA8hEc?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Welcome</a></h3> -->
	</div>

	<div layout="row"  layout-wrap layout-align="center center">
		<iframe flex="45" src="http://www.youtube.com/embed/V-b6YP6utkQ?hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Gets $54,000 per year</a></h3> -->
		&nbsp;
		&nbsp;
		<iframe src="http://www.youtube.com/embed/zlcr3-TsOSw?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="45"></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">NO student loans</a></h3> -->
	</div>
</div>

<div layout layout-align="center" layout-sm="column" layout-md="column" id="threeMainCtas">
		<div flex-gt-md="25" flex="75">
			<h5>PERSONAL CONSULATION</h5>
			<p>
				Get started right away. Call (626) 657-7887 for a consultation or email info@collegefundingremedies.com.
			</p>
			<i class="fa fa-phone"></i>
		</div>
		<div flex-gt-md="25" flex="75" id="book">
			<h5>COLLEGE FUNDING BOOK</h5>
			<a href="http://www.amazon.com/dp/1508769826/ref=rdr_ext_tmb">
				<!-- <img id="bookImg" src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlp1/v/t1.0-9/11217545_663115670456167_3922717380468078718_n.jpg?oh=a949620ba74f94e299c429bcfcdba746&oe=56849BDB"> -->
			<p>
				Read my book and learn how to prepare a game plan for getting the degree your child wants and deserves.
			</p>
			<i class="fa fa-book"></i>
			</a>
		</div>
		<div flex-gt-md="25" flex="75">
			<h5>APPLICATION DEADLINES</h5>
			<p>
				Know the application deadlines for financial aid forms, private colleges, UCs, and Cal States.
			</p>
			<i class="fa fa-exclamation"></i>
		</div>
		<div flex-gt-md="25" flex="75">
			<h5>APPLICATION DEADLINES</h5>
			<p>
				Know the application deadlines for financial aid forms, private colleges, UCs, and Cal States.
			</p>
			<i class="fa fa-exclamation"></i>
		</div>
</div>

<div layout layout-align="center">
	<h3>Here’s What Students Say About My Proprietary Methods</h3>
	<br>
	<h4>Don't take my word for it. Before you read another word, listen to what these students (and parents) say about how they got the money they needed for college by working wih me...</h4>
</div>


<div class="md-item-text md-whiteframe-z1" layout id="testimonials" layout="align-center" layout-wrap flex>

	<md-list-item layout  class="md-2-line veggie-option">
	<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

	<p>Nadia got into her dream school (Dickinson) and her parents only paid $4,000 for her first year. In fact, Nadia got over $54,000 in FREE money the very first year!</p>
</md-list-item>



<md-list-item layout class="md-2-line veggie-option">
<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

<p>Travis was accepted into the University of Denver with a great financial aid package, then transferred to USC this year—with $21,500 a year in financial aid. They didn't have to touch his mom's retirement savings!</p>
</md-list-item>

<md-list-item layout class="md-2-line veggie-option">
<img class="md-avatar" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-19/s150x150/11348337_904096713000393_218605765_a.jpg"/>

<p>With Trevor's help, Karissa was accepted to 9 out of 10 colleges she applied to and is attending Claremont McKenna College.</p>
</md-list-item>

</div>


