<!-- <h1>See for yourself</h1> -->

<div id="videos">
	<div layout="row" flex="90" layout-wrap  layout-align="center center">
		<iframe  src="https://www.youtube.com/embed/bwvC9KA8hEc?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Welcome</a></h3> -->
	</div>

	<div layout="row"  layout-wrap layout-align="center center">
		<iframe flex="45" src="http://www.youtube.com/embed/V-b6YP6utkQ?hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Gets $54,000 per year</a></h3> -->
		&nbsp;
		&nbsp;
		<iframe src="http://www.youtube.com/embed/zlcr3-TsOSw?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="45"></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">NO student loans</a></h3> -->
	</div>
</div>
