
<div id="videos">
	<h2>Here’s what students say about our services</h2>

	<div layout="row"  layout-wrap layout-align="center center">
		<iframe src="http://www.youtube.com/embed/V-b6YP6utkQ?hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen flex="33"></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">Gets $54,000 per year</a></h3> -->
		<iframe src="http://www.youtube.com/embed/zlcr3-TsOSw?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="33"></iframe>
		<!-- <h3><a href="mailto:info@collegefundingremedies.com">NO student loans</a></h3> -->
		<iframe src="http://www.youtube.com/embed/kv1z4AbvSXU?hd=1&rel=0&autohide=1&showinfo=0" allowfullscreen="allowfullscreen" frameborder="0" flex="33"></iframe>
	</div>
	
</div>

